services:
  openclaw:
    build:
      context: .
      dockerfile: Dockerfile
    image: ghcr.io/jinglemansweep/openclaw-docker:latest
    restart: unless-stopped
    container_name: openclaw
    init: true
    ports:
      - "18789:18789"
      - "18790:18790"
    volumes:
      - openclaw_state:/home/node/.openclaw
      - ${OPENCLAW_WORKSPACE_DIR}:/home/node/.openclaw/workspace
    env_file:
      - .env
    environment:
      - OPENCLAW_GATEWAY_TOKEN=abc123
      
volumes:
  openclaw_state:
    driver: local
